:root {
  --color-fondo: #ffffff;
  --color-texto: #000000;
  --color-boton: #fde10b;
  --color-boton-texto: #000000;
  --color-navbar-fondo: #f9bd09;
  --color-navbar-texto: #000000;
  --color-navbar-texto-activo: #000707;
  --color-producto-fondo: #f5d657;
  --color-producto-fondo2: #ff9d00;
  --color-ventas: #080000;
}
html[data-tema="oscuro"] {
  --color-fondo: #1e1e1e;
  --color-texto: #ffffff;
  --color-boton: #3f063d;
  --color-boton-texto: #ffffff;
  --color-navbar-fondo: #212529;
  --color-navbar-texto: #ffffff;
  --color-navbar-texto-activo: #f7fafb;
  --color-producto-fondo: #0b0a0a;
  --color-producto-fondo2: #ebe8e8;
  --color-ventas: #181313;
  --colorjjj: #110c0c;
  --colorgris: #b1b6b6;

}
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  transition: background-color 0.3s, color 0.3s;
}
#boton-tema {
  position: fixed;
  bottom: 1rem;
  right: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  z-index: 9999;
}
.navbar {
  background-color: var(--color-navbar-fondo) !important;
}

.navbar .nav-link {
  color: var(--color-navbar-texto) !important;
}

.navbar .nav-link.active {
  color: var(--color-navbar-texto-activo) !important;
}

.productos {
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}
.producto.card {
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}

.card {
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}

.producto.card {
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;}

footer {
  background-color: var(--color-navbar-fondo) !important;
  color: var(--color-navbar-texto) !important;
}
button {
  background-color: var(--color-boton) !important;
  color: var(--color-boton-texto) !important;
}

.navbar-brand {
  color: var(--color-navbar-texto) !important;
}

.producto{
background: linear-gradient(to bottom,var(--color-producto-fondo), var(--color-producto-fondo2)) !important;
}
.producto-vendido{
  color: var(--color-ventas) !important;
}
.list-group-item{
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}

.controls input, .controls select {
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
  border: 1px solid var(--color-texto) !important;
}
.controls{
  background-color: var(--colorjjj) !important;
  border: 1px solid var(--color-texto) !important;
}

.py-5{
  background-color: var(--color-fondo) !important;
}
#sectionrecomendados{
  background-color: var(--color-fondo) !important;
}

#rating{
  color: var(--color-texto) !important;
  background-color: var(--color-fondo) !important;
}
.comment{
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}
.text-muted{
  color: var(--color-texto) !important;
}

#p-comentario{
  color: var(--color-texto) !important;
}

.producto1{
background: linear-gradient(to bottom,var(--color-producto-fondo), var(--color-producto-fondo2)) !important;
  color: var(--colorjjj) !important;
}

.total{
  color: var(--color-texto) !important;
}
.producto-descripcion{
  color: var(--colorjjj) !important;
}

.mt-3{
  background-color: var(--color-fondo) !important;
  color: var(--color-texto) !important;
}
#nuevoComentario{
  background-color: var(--colorgris) !important;
  color: var(--colorjjj) !important;
}
.card-body{
  background-color: var(--colorgris) !important;
  color: var(--colorjjj) !important;
}