body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/*Columna izquierda*/
.left-side {
  background-color: #6A0DAD; /* violeta */
  height: 100vh;
}

.fondo-imagen {
  object-fit: cover;
  height: 100vh;
}

/*Columna derecha*/
.right-side {
  background-color: #030303; 
  height: 100vh;
}

.contenedor {
  width: 80%;
  max-width: 350px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* ======== Campos de texto ======== */
.caja {
  position: relative;
  margin: 20px 0;
  text-align: left;
  color: #fff;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  color: hsl(0, 17%, 85%);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 35px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #070707;
}

.icono1,
.icono2 {
  position: absolute;
  top: 45px;
  left: 10px;
  transform: translateY(-50%);
  color: #6A0DAD;
  font-size: 20px;
}

.boton {
  background-color: #F4E04D; 
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #E0D233;
}

/*pregunta al usuario si tiene cuenta*/
p, p a{
  font-size: 14px;
  color: #F4E04D;  
}


/*Tamaños responsivos*/ 
/*Escritorio*/
@media (min-width: 1025px) {
  }
/*Tablet*/
@media (max-width: 1024px) and (min-width: 600px) {
}
/* para celu */
@media (max-width: 599px) {
input{
  width: 250;
} }
  

