
.titulo{
    text-align: center;
    font-family: sans-serif;
    gap: 18px;

}
h1{
     margin-top: -8px;
}


body{
  background: linear-gradient(to bottom, rgb(251,204,35), #ffffff);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

img{
    height: 200px;
    width: 200px;
}

.contenedor{
    display: grid;
    place-items: center;
    width: 400px;
    height: 600px;
    border-radius: 8px;      
}
.contenedor h3{
    font-family: sans-serif;
    margin-right: 200px;
}
.contenedor h2{
    font-family: sans-serif;
    margin-right: 220px;
    font-size: 20px;
}

.caja{
     margin-top: -20px;
}


input{
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(239, 225, 252);
    height: 30px;
    width: 300px;
}

button{
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgb(255, 234, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    gap: 10px;
    border-radius: 30px;
    border-width: 3px;
    width: 150px;
}

button:hover{
    background-color: rgb(0, 81, 255);
}



/*Escritorio*/  
@media (min-width: 1025px) {
  .contenedor {
    width: 400px;
  }
  .imagen img {
    width: 100px;
  }
  .imagen h1 {
    font-size: 28px;
  }
  }

/*Tablet*/
@media (max-width: 1024px) and (min-width: 600px) {
  body {
    background: linear-gradient(to bottom, rgb(251,204,35), #ffffff);;

  }
  .contenedor {
    width: 350px;
    padding: 25px;
  }
  .imagen img {
    width: 90px;
  }
  .imagen h1 {
    font-size: 24px;
  }
}


/* para celu */
@media (max-width: 599px) {
  body {
    background: linear-gradient(to bottom, rgb(251,204,35), #ffffff);
   padding: 10px;
  }
  .contenedor {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
  }
  .imagen img {
    width: 70px;
  }
  .imagen h1 {
    font-size: 20px;
  }
  .caja h2, .caja h3 {
    font-size: 14px;
  }
  .caja input {
    font-size: 12px;
    padding: 8px;
  }
  .boton {
    font-size: 14px;
    padding: 10px;
  }
}